<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="theme-color" content="#000000" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <style>
      #root {
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        transform: translateY(-50%);
      }
    </style>
    <div id="root">
      <div class="container-fluid">
        <div class="row">
          <div class="col-6 offset-3 text-center">
            <h1 class="App-title">Welcome to <span id="domain-name"></span></h1>
            <p class="App-intro">
              Interested in purchasing this domain?<br />
              Simply fill out
              <a id="form-link" href="https://goo.gl/forms/r4ZwdkcGnpUSm9fk1">this form</a>
              and we will get back to you shortly.
            </p>
          </div>
        </div>
      </div>
    </div>

    <script>
      (function() {
        const domainNameElement = document.getElementById('domain-name');
        const formLinkElement = document.getElementById('form-link');

        domainNameElement.innerHTML = window.location.host;
        formLinkElement.setAttribute(
          'href',
          'https://docs.google.com/forms/d/e/1FAIpQLSfQ3f7dijesEK3qaS4VrlxLLCfAXawsfRpFQMYzpDpOAnaNiw/viewform?usp=pp_url&entry.90867241=' +
            window.location.host,
        );
      })();
    </script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-135072677-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];

      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());

      gtag('config', 'UA-135072677-1');
    </script>
  </body>
</html>
